@model IEnumerable<LetsJam.Models.Band>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.bandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BandImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.created)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
